API_ID=32011844
API_HASH=2822903173293d39a8db00fed3bf961c
BOT_TOKEN=8636016161:AAEF672-hTrX2qiPmssStWJH05WZ17BWxSI
LOGGER_ID=-1003773179781
MONGO_DB_URI=mongodb+srv://saranjaat9694:saranjaat435@cluster0.ofptc9e.mongodb.net/?appName=Cluster0
OWNER_ID=8602292971
STRING_SESSION=BQHodkQAfiuqGNbF-yTom2_zWmEUZqo98_dMU7Go7Hp87fLT8ZxM4uKDyW0geAsYfq0TLzkViPIKaAbmrU3jlbWBv3PNFFe3xEKljoC-utDdN-V08XO2o43d7GVmxR9iWF9PoOC1OCgIvD4ne3TeZzzDs9lTUAADN_cV5h4iwllACSUzTZQHqUQIs0doPaKgogo3nW-lxEC2ByCAFi5NaviuRioIWOZuM3hwCXkrkLJcg8CNntSRPrDfMQcNX5mP_TrU0g0GGMlVLs7MnzyQb2Ptsbof_qYwb8JmXzxS_2bm55Y0aHdmUeJmhxE7AhCPvMZv0wzE2zwccpXcJKbZ9fb_Hr6U6AAAAAINuLNOAA
